<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/">home</a>
    <a href="/insert">추가</a>
    <a href="/update">수정</a>
    <a href="/delete">삭제</a>
    <a href="/select">조회</a>
  </body>
</html>
